@charset "utf-8";
*{padding: 0;margin: 0;}
ul{list-style: none;}
.clear::after{
	content: '';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.shou_div{
	background: #f5f5f5;
	height: 30px;
	padding-top:1px;
}
.shou_div>.sz_div{
	width: 980px;
	margin:3px auto;
}
.sz_div>.sz_oneul{
	float: left;
}
.sz_div>.sz_twoul{
	float: right;
}
.sz_oneul>li{
	float: left;
	height: 24px;
	padding-right: 40px;
	box-sizing: border-box;
}
.sz_oneul>li:nth-child(1)>a{
	position: relative;
	color: #666;
	text-decoration: none;
	line-height: 24px;
	font: 12px Arial,Verdana,"微软雅黑";
}
.sz_oneul>li:nth-child(1)>a>i{
	position: absolute;
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 30px;
	background: url(../img/xuebi.png) no-repeat -158px 0;
	right: -20px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.sz_twoul>li{
	position: relative;
	float: left;
	color: #666;
	font: 12px Arial,Verdana,"微软雅黑";
	line-height: 24px;
	padding: 0 10px;
}
.sz_twoul>li>a:hover{
	text-decoration: underline;
	color: brown;
	cursor: pointer;
}
.sz_twoul>li:nth-child(1)>p{
	position: absolute;
	left: -150px;
	top: -4px;
	height: 30px;
	line-height: 30px;
	padding: 0;
}
.sz_twoul>li:nth-child(1)>p>span{
	margin-left: 5px;
	float: right;
	cursor: pointer;
}
.sz_twoul>li:nth-child(1)>p>span:hover{
	color: #FF0000;
}
.sz_twoul>li:nth-child(2)::after{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	content: '';
	height: 12px;
	width: 1px;
	background: #bbb;
}
.sz_twoul>li:nth-child(2)::before{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	content: '';
	height: 12px;
	width: 1px;
	background: #bbb;
}

.sz_twoul>li:nth-child(4)::after{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	content: '';
	height: 12px;
	width: 1px;
	background: #bbb;
}
.sz_twoul>li:nth-child(4)::before{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	content: '';
	height: 12px;
	width: 1px;
	background: #bbb;
}
.sz_twoul>li:nth-child(4):hover{
	background: #fff;
	height: 29px;
}
.sz_twoul>li:nth-child(4):hover>ul{
	display: block;
}

.sz_twoul>li:nth-child(4):hover:after{
	width: 100%;
	height: 100%;
	border: 1px solid #bbb;
	border-bottom: none;
	background: transparent;
	box-sizing: border-box;
	left: 0;
	top: 0;
}

.sz_twoul>li:nth-child(4)>ul{
	position: absolute;
	right: 0;
	top: 28px;
	width: 220px;
	height: 126px;
	padding: 0 10px;
	box-sizing: border-box;
	border: 1px solid #bbb;
	/*box-shadow: 0 0 0px 1px black;*/
	display: none;
	background: #fff;
}
.sz_twoul>li:nth-child(4)>ul::after{
	position: absolute;
	right: 0;
	top: -2px;
	content: '';
	height: 10px;
	width: 31%;
	background:#fff;
	
}

.sjew>li:nth-child(1){
	color: #666;
	height: 14px;
	margin-top:10px;
    line-height: 14px;
    text-align: left;
}
.sjew>li:nth-child(2){
	width: 200px;
	height: 90px;
	color: #666;
}
.sjew>li:nth-child(2)>.xz_div{
	float: left;
	width: 94px;
	height: 58px;
	padding-top: 25px;
	box-sizing: border-box;
}
.xz_div>a{
	position: relative;
	display: inline-block;
	height: 26PX;
	padding:0 40px 0 25px ;
	line-height: 28px;
	box-sizing: border-box;
	background: url(../img/xuebi.png) no-repeat scroll 0 -547px;
}
.xz_div>a:hover{
	cursor: pointer;
	text-decoration: underline;
	color: #fff;
	background: url(../img/xuebi.png)no-repeat scroll -110px -547px;
}
.sjew>li:nth-child(2)>.erw_div{
	float: right;
	height: 90px;
	width: 90px;
	background: url(../img/ew.png) no-repeat;
	background-size: cover;
}

.erjz_div{
	width: 980px;
	margin:10px auto;
}
.erjz_div>.erz_div{
	width: 300px;
	float: left;
	height: 54px;
	padding-top: 16px;
	box-sizing: border-box;
}
.erjz_div>.erz_div>img:hover{
	cursor: pointer;
}

.erjz_div>.ery_div{
	width: 571px;
	float: right;
	height: 54px;
	padding-top: 31px;
	box-sizing: border-box;
}
.erjz_div>.ery_div>div{
	width: 571px;
	height: 23px;
	background: url(../img/gouwu.png);
}
.erjz_div>.erqx_ul{
	width: 980px;
	border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #333;
    font: 12px Arial,Verdana,"微软雅黑";
}
.erjz_div>.erqx_ul>li{
	position: relative;
	line-height: 40px;
	float: left;
	height: 40px;
}
.erqx_ul>li:nth-child(1){
	width: 390px;
	padding-left: 15px;
	box-sizing: border-box;
}
.erqx_ul>li:nth-child(1)>input{
	float: left;
	margin-top:13px ;
}
.erqx_ul>li:nth-child(1)>label{
	float: left;
	margin-left: 20px;
}
.erqx_ul>li:nth-child(1)>span{
	margin-left: 130px;
}
.erqx_ul>li:nth-child(2){
	width: 110px;
	text-align: center;
}
.erqx_ul>li:nth-child(3),.erqx_ul>li:nth-child(4){
	width: 80px;
	text-align: center;
}
.erqx_ul>li:nth-child(4)>.diqu_div{
	position: relative;
	width: 67px;
	margin: auto;
	z-index: 3;
}
.erqx_ul>li:nth-child(4)>.xuze_div{
   	position: absolute;
    z-index: 2;
    background: #fff;
    border: 1px solid #ddd;
    left: -20px;
    padding: 10px;
    position: absolute;
    top: 31px;
    width: 256px;
    display: none;
}
.xuze_div>select{
	float: left;
	width: 123px;
}
.xuze_div>select:nth-child(2){
	float: right;
}

.diqu_div>span{
	cursor: pointer;
	position: relative;
	padding:0 15px 0 5px;
	display: inline-block;
	height: 24px;
	border: 1px solid #c9c9c9;
	line-height: 24px;
	background: #fff;
}
.diqu_div>span:hover{
	border-bottom: none;
	/*background: red;*/
}
.diqu_div>span>i{
	position: absolute;
	display: inline-block;
	right: 2px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 9px;
	height: 6px;
	background: url(../img/xuebi.png) no-repeat 0 -17px;
}
.erqx_ul>li:nth-child(5),.erqx_ul>li:nth-child(7){
	width: 100px;
	text-align: center;
}
.erqx_ul>li:nth-child(6){
	width: 120px;
	text-align: center;
}
.sp_ul{
	width: 980px;
	margin: 15px auto;	
	border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #333;
    font: 12px Arial,Verdana,"微软雅黑";
}
.sp_ul>li{
	float: left;
}
.sp_ul>li:nth-child(1){
	width: 390px;
	height: 80px;
	padding:0 20px;
	box-sizing: border-box;
}
.sp_ul>li:nth-child(1)>input{
	float: left;
	margin-top: 30px;
}
.sp_ul>li:nth-child(1)>img{
	float: left;
	margin-left: 15px;
	margin-top: 10px;
}
.sp_ul>li:nth-child(1)>span{
	float: left;
	display: block;
    overflow: hidden;
    width: 250px;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 22px;
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    box-sizing: border-box;

}
.sp_ul>li:nth-child(2){
	overflow: hidden;
	width: 110px;
    text-align: center;
    color: #333;
    font: 12px Arial,Verdana,"微软雅黑";

}
.sp_ul>li:nth-child(2)>span{
	font-weight: 800;
	line-height: 80px;	
}
.sp_ul>li:nth-child(3),.sp_ul>li:nth-child(4){
	width: 80px;
	height: 80px;
	text-align: center;
}
.sp_ul>li:nth-child(3)>span{
	line-height: 80px;
}
.sp_ul>li:nth-child(4)>span{
	line-height: 80px;
}
.sp_ul>li:nth-child(5){
	width: 100px;
	height: 80px;
	text-align: center;
}

.sp_ul>li:nth-child(5)>div>span{
	
border: 1px solid #c9c9c9;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-family: icon;
    cursor: pointer;
    display: inline-block;
    background: #ededed;
    font-size: 16px;
    float: left;
    
}
.sp_ul>li:nth-child(5)>div{
	margin:27px auto;
	width: 83px;
}
.sp_ul>li:nth-child(5)>div>span:nth-child(1){
	border-right: 0;
}
.sp_ul>li:nth-child(5)>div>span:nth-child(3){
	border-left: 0;
}
.sp_ul>li:nth-child(5)>div>input{
	line-height: 22px;
    border: 1px solid #c9c9c9;
    text-align: center;
    float: left;
    font-family: Verdana,Geneva,sans-serif;
    padding: 0;
    height: 22px;
    width: 35px;
    outline: none;
    color: #333;
    font: 12px Arial,Verdana,"微软雅黑";
}
.sp_ul>li:nth-child(6){
	width: 120px;
	height: 80px;
	text-align: center;
}
.sp_ul>li:nth-child(6)>span{

	font: 12px Arial,Verdana,"微软雅黑";
    color: #c00;
    font-weight: 800;
    line-height: 80px;
}
.sp_ul>li:nth-child(7){
	width: 100px;
	height: 80px;
	text-align: center;	

}
.sp_ul>li:nth-child(7)>span{
	line-height: 80px;
	color: #666;
	padding: 0 10px;
}
.sp_ul>li:nth-child(7)>span:hover{
	cursor: pointer;
	color: #CC0000;
	text-decoration: underline;
}
.jie_ul{
	    background: #e5e5e5;
	    margin: 15px auto;
}

.jie_ul>li{
	padding:0 10px;
	float: left;
	height: 50px;
	font: 12px Arial,Verdana,"微软雅黑";
}
.jie_ul>li:nth-child(-n+3)>a{
	
	line-height: 50px;
	color: #c00;
}
.jie_ul>li:nth-child(-n+3)>a:hover{
	text-decoration: underline;
	cursor: pointer;
}
.jie_ul>li:nth-child(4)>*{
	line-height: 50px;
}
.jie_ul>li:nth-child(4)>span{
	font-size: 18px;
    font-weight: 700;
    color: #c00;
}
.jie_ul>li:nth-child(5)>*{
	line-height: 50px;
}
.jie_ul>li:nth-child(5)>span{
	font-size: 18px;
    font-weight: 700;
    color: #c00;
}

.jie_ul>li:nth-child(6){
	padding: 0 20px;
}
.jie_ul>li:nth-child(6)>*{
	line-height: 50px;
}
.jie_ul>li:nth-child(6)>span{
	font-size: 18px;
    font-weight: 700;
    color: #c00;
}
.sanjz_div{
	width: 980px;
	margin: auto;
	/*display: none;*/
}
.sanjz_div>div{
	width: 132px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.sanjz_div>div:nth-child(1){
	float: left;
	background: none repeat scroll 0 0 #ffe4d0;
    color: #c00;
    cursor: pointer;
    display: block;
    font: 700 18px/40px '微软雅黑';
}
.sanjz_div>div:nth-child(2){
	float: right;
	font: 700 18px/40px '微软雅黑';
    background: none repeat scroll 0 0 #c00;
    color: #fff;
    cursor: pointer;
}
.sijz_div{
	width: 980px;
	margin: auto;
    padding: 88px 0 100px 356px;
    box-sizing: border-box;
}
.sijz_div>div{
	height: 100px;
	background: url(../img/gwc.png) no-repeat; 
    
}
.sijz_div>div>h2{
	float: left;
	height: 16px;
	color: #333;
    font: 12px Arial,Verdana,"微软雅黑";
	line-height: 100px;
	margin-left:110px ;
}
.wei_div{
	position: relative;
	color: #333;
    font: 12px Arial,Verdana,"微软雅黑";
	width: 100%;
    margin: 20px auto 0;
    background: #e7e6e5;
    padding: 10px 0;
}
.wei_div>.weijz_ul{
	position: relative;
	width: 980px;
	height: 260px;
	margin: auto;
}
.weijz_ul>li{
	float: left;
	width: 155px;
}
.weijz_ul>li>h2{
    font-weight: bold;
    color: #333;
    font: 12px Arial,Verdana,"微软雅黑";
    line-height: 24px;
}

.weijz_ul>li>p{
	line-height: 24px;
	color: #666;
}
.weijz_ul>li>p:hover{
 	text-decoration: underline;
 	cursor: pointer;
 }   
.weijz_ul>.log_li{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 170px;
	height: 140px;
	background: url(../img/gllog.jpg) no-repeat;
}
.weijz_ul>.log_li>p{
	position: absolute;
	bottom: -5px;
	left: 0;
}
.weijz_ul>.log_li>p>b{
	font: 700 16px/22px Arial,Helvetica,sans-serif;
    color: #c00;
}

.wbz_div{
	position: relative;
    background: #c00;
}
.wbz_div>.chinatu{
	width: 100%;
	height: 115px;
	background:transparent url(../img/wbz.jpg);
	background-size: cover;
	background-position: center;
}
.wbz_div>.wbzjz_ul{
	width: 980px;
	margin: auto;
}
.wbz_div>.wbzjz_ul>li{
	float: left;
	width: 245px;
	height: 40px;
	
}
.wbz_div>.wbzjz_ul>li>*{
	float: left;
}
.wbz_div>.wbzjz_ul>li>span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-left: 10px;
	font: 700 18px/40px Arial,Helvetica,sans-serif;
    color: #fff;
}
.wbz_div>.wbzjz_ul>li>i{
	display: inline-block;
	height: 40px;
	width: 40px;
}
.wbz_div>.wbzjz_ul>li:nth-child(1)>i{
	background: url(../img/xuebi.png) 0 -301px no-repeat;
}
.wbz_div>.wbzjz_ul>li:nth-child(2)>i{
	background: url(../img/xuebi.png) -40px -301px no-repeat;
}
.wbz_div>.wbzjz_ul>li:nth-child(3)>i{
	background: url(../img/xuebi.png) -80px -301px no-repeat;
}
.wbz_div>.wbzjz_ul>li:nth-child(4)>i{
	background: url(../img/xuebi.png) -120px -301px no-repeat;
}

.wyhk_div>.wyhkjz_div{
	width: 980px;
	margin: auto;
	padding: 10px 0;
}
.wyhkjz_div>p{
	color: #999;
	font: 12px Arial,Verdana,"微软雅黑";
}
.wyhkjz_div>i{
	display: block;
	width: 120px;
	height: 40px;
	background: url(../img/yhk.png);
}
.guding_img{
	position: fixed;
	left: 0;
	bottom: 0;
}






